<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Hello, I'm Nitish. 👋🏽</h1>

<div class="main">
    <div class="headshot">
        <img alt="Nitish Vijai" src="../../../assets/img/nitish-vijai-2.jpg" id="nitish-headshot" />
    </div>
    
    <div class="content">
        <h2 [ngClass]="{'heading': true}">A little about me</h2>
    
        <p>I'm a rising junior pursuing a bachelor's dual degree in both computer science and data science at the University of Michigan College of Engineering. By majoring in the vast field of computer science, I’m working to develop skills that can help positively shape our world’s future.</p>
    
        <p>My primary interests are in web and app development, .NET programming, database management, and UI/UX design. While diverse, I've always preferred to gain a breadth of experience in various technologies.</p>
    
        <p>At Michigan, I am a member of the Michigan Data Science Team, where I worked with a team of fellow students in the Winter 2021 semester to develop a web scraper that evaluated a dataset of U-M LSA websites for accessibility adherence. Outside of technology, I am also a member of the Indian American Student Association, where I participate in cultural dance performances every fall as part of a dance group.</p>
    
        <p>Being in the field of computer science, I enjoy exploring new applications and projects, and I like to take on challenges with a positive attitude and growth mindset. As an engineer, I know the importance of a growth mindset. Whether it's a new language or technology, the field is always changing, and as engineers, we have the ability to adapt and overcome such challenges. I take pride in my love for learning and I believe that such a mindset will take one far.</p>
    
        <p>When I'm not inside a cubicle or in class, I enjoy hanging out with friends and family, catching up on the latest in tech, working on side personal projects, learning how to play the guitar, and taking pictures of beautiful landscapes and nature.</p>
    
        <h2 [ngClass]="{'heading': true}">What I am looking for</h2>
    
        <p>I am currently seeking a Summer 2022 software engineering internship that will provide me further experience in team collaboration and relevant technologies, and one that will allow me to have an impact on the company. Please contact me with the information provided in the Contact page. I would love to hear from you!</p>
    </div>
    
</div>
