.Projects {
  text-align: center;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.darkgradient {
  background: #1f1f1f;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: background, color;
  transition-duration: 2s;
}

.lightgradient {
  background: #f4f4f4;
  font-size: 1.2rem;
  border: none;
  color: black;
  outline: none;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  position: relative;
  transition-property: background, color;
  transition-duration: 2s;
}

.darkgradient_mobile {
  background: #1f1f1f;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
}

.lightgradient_mobile {
  background: #f4f4f4;
  font-size: 1.2rem;
  border: none;
  color: black;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
}

.darkgradient:before, .darkgradient_mobile:before {
  --size: 1500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #414141, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.lightgradient:before,
.lightgradient_mobile:before {
  --size: 1500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #dbd8d8, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.darkgradient:hover:before, .lightgradient:hover:before {
  --size: 1500px;
}

#header {
  text-align: center;
  margin-top: 4%;
  z-index: 90;
  animation: fadeIn 3s;
}

#subheader {
  text-align: center;
  z-index: 91;
  margin-bottom: 4%;
  animation: fadeIn 3s;
}

.projects {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 60%;
  animation: fadeIn 3s;
}

.project {
  width: 100%;
  overflow: hidden;
  height: auto;
  margin-bottom: 15px;
  padding-bottom: 15px;
  animation: fadeIn 3s;
}

.project:first-child {
  margin-top: 70px;
}

.img {
  float: left;
  padding-right: 20px;
  height: 400px;
  animation: fadeIn 3s;
}

.info {
  margin-left: 100px;
  margin-right: 25px;
  text-align: left;
  animation: fadeIn 3s;
}

img {
  float: left;
  z-index: 85;
  position: relative;
  animation: fadeIn 3s;
}

h3 {
  margin-top: 0;
  z-index: 95;
  position: relative;
  animation: fadeIn 3s;
}

.date {
  margin-top: -12px;
  animation: fadeIn 3s;
}


.btngrad {
  background-image: linear-gradient(to right, #000428 0%, #000099 51%, #000428 100%);
  margin: 10px;
  padding: 5px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  width: 120px;
  position: relative;
  margin-left: 300px;
  animation: fadeIn 3s;
}

.btngrad:hover,
.classProj:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.classProj {
  background-image: linear-gradient(to right, #2b0000 0%, #FF0000 51%, #2b0000 100%);
  margin: 10px;
  padding: 4px 25px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  width: 210px;
  position: relative;
  margin-left: 300px;
  animation: fadeIn 3s;
}

.proj_pic {
  height: 230px;
  width: 380px;
  z-index: 105;
  animation: fadeIn 3s;
}