.EssayLink_dark {
    background-color: #2C2C2C;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 6px;
    z-index: 100;
    position: relative;
    box-shadow: 0 0 10px #eee;
    color: white;
    transition: background-color 2s, color 2s, box-shadow 2s;
}

.EssayLink_light {
    background-color: #F4F4F4;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 6px;
    z-index: 100;
    position: relative;
    box-shadow: 0 0 10px #001;
    color: black;
    transition: background-color 2s, color 2s, box-shadow 2s;
}

.essay_title {
    font-weight: normal;
}

#sep {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.date {
    margin-top: 0;
}

.read {
    margin-bottom: 100px;
}