p {
    font-size: small;
    margin-left: 0.4em;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 5.5rem;
}

.dark {
    color: white;
}

.light {
    color: black;
}