<div class="header">
    <input type="checkbox" name="colormode" id="colormode" value="Dark" (change)="switchColors($event.target.checked)">
    <label [ngClass]="{'dark': _darkMode, 'light': !_darkMode}" id="forcolormode" for="colormode">Light Mode</label>
    <a routerLink="/about" [ngClass]="{'centered': true, 'dark': _darkMode, 'light': !_darkMode}">About Me</a>
    <a href="#" [ngClass]="{'centered': true, 'dark': _darkMode, 'light': !_darkMode}">Projects</a>
    <a routerLink="/" [ngClass]="{'title': true, 'dark': _darkMode, 'light': !_darkMode}">Nitish Vijai</a>
    <a href="#" [ngClass]="{'centered': true, 'dark': _darkMode, 'light': !_darkMode}">Resume</a>
    <a href="#" [ngClass]="{'centered': true, 'dark': _darkMode, 'light': !_darkMode}">Essays</a>
    <a href="#" id="contactme" [ngClass]="{'contact': true, 'dark': _darkMode, 'light': !_darkMode}">Contact Me</a>
</div>