<div class="header">
    <input type="checkbox" name="colormode" id="colormode" (change)="switchColors($event.target.checked)" [checked]="mode">
    <label id="forcolormode" for="colormode">Light Mode</label>
    <a id="aboutme" routerLink="/about" [state]="{ mode: 'desktop' }" [ngClass]="{'centered': true, 'dark': !mode, 'light': mode}">About Me</a>
    <a id="projects" routerLink="/projects" [ngClass]="{'centered': true, 'dark': !mode, 'light': mode}">Projects</a>
    <a routerLink="/" [state]="{ mode: 'desktop' }" [ngClass]="{'title': true, 'dark': !mode, 'light': mode}">Nitish Vijai</a>
    <a id="resumeTab" routerLink="/resume" [state]="{ mode: 'desktop' }" [ngClass]="{'centered': true, 'dark': !mode, 'light': mode}">Resume</a>
    <a href="#" [ngClass]="{'centered': true, 'dark': !mode, 'light': mode}">Essays</a>
    <a href="#" id="contactme" [ngClass]="{'contact': true, 'dark': !mode, 'light': mode}">Contact Me</a>
</div>