<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Essays</h1>

<p [ngClass]="{'text': true}">Check out some of my thoughts on life, technology, and other pursuits below.</p>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<app-essay-card title="2020: Parting Thoughts" description="Now that 2020 has almost come to an end, I thought I'd reflect on here a little bit about how this year has changed my life for the most part. This post is also a little something for future me to revisit and reminisce how we all made it through a pandemic." date="Dec 31, 2020"></app-essay-card>