<p style="visibility: hidden; font-size: x-small;">asdf</p>

<app-hero-image [lightMode]="lightMode"></app-hero-image>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Hello and welcome!</h1>

<p [ngClass]="{'text': true}">If you're looking for my portfolio of all the stuff I've done in the cool world of tech, you're in the right place! Thanks for stopping by.</p>

<p [ngClass]="{'text': true}">To learn more about my experiences, interests, and accomplishments, please click on the links above.</p>

<p [ngClass]="{'text': true}">If you would like to contact me, please use one of the methods on the Contact page. I would love to hear from you!</p>
