.darkgradient {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 15px;
}

.lightgradient {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 15px;
}

.darkgradient_mobile {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
  }
  
  .lightgradient_mobile {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
  }

.darkgradient:before, .darkgradient_mobile:before {
    --size: 1500px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #414141, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
}

.lightgradient:before,
.lightgradient_mobile:before {
  --size: 1000px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #dbd8d8, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease;
}

.darkgradient:hover:before, .lightgradient:hover:before {
    --size: 1500px;
}

#header {
    text-align: center;
    margin-top: 4%;
    z-index: 90;
}

#subheader {
    text-align: center;
    z-index: 91;
    margin-bottom: 4%;
}

.fact {
    text-align: center;
    font-weight: normal;
}

.destList {
    margin: 0 auto;
    width: 40%;
    margin-top: 100px;
    padding-bottom: 50px;
}

.pic {
    margin-right: 10px;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.column {
    flex-grow: 1;
}