@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.darkgradient {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 15px;
    transition-property: background, color;
    transition-duration: 2s;
}

.lightgradient {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 15px;
    transition-property: background, color;
    transition-duration: 2s;
}

.darkgradient_mobile {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
  }
  
  .lightgradient_mobile {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
  }

.darkgradient:before, .darkgradient_mobile:before {
    --size: 1500px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #414141, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
}

.lightgradient:before,
.lightgradient_mobile:before {
  --size: 1500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #dbd8d8, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.darkgradient:hover:before, .lightgradient:hover:before {
    --size: 1500px;
}

#header {
    text-align: center;
    margin-top: 4%;
    z-index: 90;
    animation: fadeIn 3s;
}

#subheader {
    text-align: center;
    z-index: 91;
    margin-bottom: 4%;
    animation: fadeIn 3s;
}

.number {
    font-weight: bold;
    font-size: 48px;
}

.fact {
    text-align: center;
    font-weight: normal;
    animation: fadeIn 3s;
}

.destList {
    margin: 0 auto;
    width: 40%;
    margin-top: 100px;
    padding-bottom: 50px;
    animation: fadeIn 3s;
}

.pic {
    margin-right: 10px;
    width: 100%;
    animation: fadeIn 3s;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.column {
    flex-grow: 1;
}

table {
    text-align: center;
    margin: 0 auto;
    border-spacing: 20px 0;
    position: relative;
    z-index: 120;
}

tr {
    margin-right: 20px;
}