.heading {
    text-align: center;
}

.text {
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.project {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.image {
    float: left;
    border-radius: 2px;
    padding-right: 2%;
    height: 230px;
    width: 380px;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: blue;
}

.link-enabled {
    cursor: pointer;
    font-weight: bold;
    color: green;
}

.link-disabled {
    cursor: pointer;
    font-weight: normal;
    color: red;
}

.link-light, .link-dark:hover {
    color: black;
}

.link-light:hover, .link-dark {
    color: white;
}

#error {
    text-align: center;
}