.heading {
    text-align: center;
}

.text {
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.project {
    width: 80%;
    margin: 0 auto;
}

.link {
    cursor: pointer;
}

.link:hover {
    color: blue;
}

.link-enabled {
    cursor: pointer;
    font-weight: bold;
    color: green;
}

.link-disabled {
    cursor: pointer;
    font-weight: normal;
    color: red;
}

#error {
    text-align: center;
}