<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Projects</h1>

<p [ngClass]="{'text': true}">Here's a list of projects I've completed on my own, as part of school, or elsewhere. Click on the filters below for quick access.</p>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<table>
    <tr>
        <td><strong>Filters:</strong></td>
        <td><a [ngClass]="personal ? 'link-enabled' : 'link-disabled'" (click)="toggleFilter('personal')">Personal</a></td>
        <td><a [ngClass]="school ? 'link-enabled' : 'link-disabled'" (click)="toggleFilter('school')">School</a></td>
        <td><a [ngClass]="ecs ? 'link-enabled' : 'link-disabled'" (click)="toggleFilter('extracurriculars')">Extracurriculars</a></td>
        <td><a [ngClass]="other ? 'link-enabled' : 'link-disabled'" (click)="toggleFilter('other')">Other</a></td>
        <td><a class="link" (click)="clearAllFilters()">Clear All Filters</a></td>
    </tr>
</table>

<p id="error" *ngIf="projects.length === 0">Uh oh, there are no projects available. Please make sure you've turned on at least one filter.</p>
<div *ngFor="let project of projects" class="project">
    <h2>{{ project.name }}</h2>
    <p>{{project.type | titlecase}} | {{ project.startdate + ' - ' + project.enddate }}</p>
    <p>{{ project.description }}</p>
    <p>Tools Utilized: {{ project.skills }}</p>
    <p *ngIf="project.github"><a href="{{ project.github }}">GitHub Repository</a><span *ngIf="project.otherlinks">&nbsp;|&nbsp;<a *ngFor="let link of project.otherlinks" href="{{ link.link }}">{{ link.title }}</a></span></p>
</div>