<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Projects</h1>

<p [ngClass]="{'text': true}">Here's a list of projects I've completed on my own, as part of school, or elsewhere. Click on the filters below for quick access.</p>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<table>
    <tr>
        <td><strong>Filters:</strong></td>
        <td>Personal</td>
        <td>School</td>
        <td>Extracurriculars</td>
        <td>Other</td>
    </tr>
</table>

<div *ngFor="let project of projects">
    <h2>{{ project.name }}</h2>
    <p>{{project.type | titlecase}} | {{ project.startdate + ' - ' + project.enddate }}</p>
    <p>{{ project.description }}</p>
    <p>Tools Utilized: {{ project.skills }}</p>
    <p *ngIf="project.github"><a href="{{ project.github }}">GitHub Repository</a></p>
</div>