.About {
    text-align: center;
}

#header {
    text-align: center;
    margin-top: 4%;
    z-index: 90;
}

ul, li {
    z-index: 85;
    position: relative;
    left: 0.5%;
}


img {
    z-index: 86;
    width: 400px;
    border-radius: 16px;
    position: relative;
}

.parent {
    width: 100%;
    overflow: hidden;
}

.pic {
    float: left;
    height: 700px;
    width: 900px;
    text-align: center;
}

.aboutMe {
    margin-left: 250px;
    margin-right: 250px;
}

.aboutMe p {
    margin-bottom: 30px;
}