@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.darkgradient, .darkgradient_mobile {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-property: background, color;
    transition-duration: 2s;
}

.lightgradient, .lightgradient_mobile {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    transition-property: background, color;
    transition-duration: 2s;
}

.darkgradient_mobile {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
}

.lightgradient_mobile {
    background: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    color: black;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: auto;
}

.darkgradient:before,
.darkgradient_mobile:before {
    --size: 1500px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #414141, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
}

.lightgradient:before,
.lightgradient_mobile:before {
    --size: 1500px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #dbd8d8, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
}

.darkgradient:hover:before,
.lightgradient:hover:before {
    --size: 1500px;
}

.pgLink, .pgLink:visited {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    text-align: right;
    display: block;
}

.pgLink_mobile, .pgLink_mobile:visited {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    text-align: right;
    display: block;
    margin-top: 20px;
}

.pgLink:hover {
    color: green;
    cursor: pointer;
}

.blog_header, .blog_content {
    text-align: center;
    width: 55%;
    margin: 0 auto;
    animation: fadeIn 3s;
    cursor: text;
    pointer-events: auto;
}

.blog_header_mobile, .blog_content_mobile {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    animation: fadeIn 3s;
    cursor: text;
    pointer-events: auto;
}

.blog_content {
    margin-top: 3%;
}

.title {
    text-align: left;
    padding-left: 0;
    margin-bottom: 1%;
}

.subtitle, .published, .paragraph {
    text-align: left;
    font-weight: normal;
    margin-top: 2%;
    padding-left: 0;
}

.heading {
    text-align: left;
}

.subheading {
    text-align: left;
    font-weight: bold;
    margin-bottom: 2%;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
    margin-bottom: 2%;
}

.img_mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
    margin-bottom: 2%;
    width: 100%;
}

.caption {
    margin-top: 2%;
    font-weight: normal;
    position: relative;
    z-index: 110;
}

.ending {
    text-align: right;
    margin-bottom: 0.5%;
}

.ending:last-child {
    margin-top: 0;
}

.list {
    text-align: left;
}

.action {
    margin-bottom: 2%;
}

code {
    z-index: 130;
    position: relative;
    margin-bottom: 2%;
}