<!-- Placeholder for now. Will eventually replace with specialized Angular components. -->

<h1>Hello and welcome! (UNDER CONSTRUCTION)</h1>

<p>If you're looking for my portfolio of all the stuff I've done in the cool world of tech, you're in the right place! Thanks for stopping by.</p>

<p>To learn more about my experiences, interests, and accomplishments, please click on the links above.</p>

<p>If you would like to contact me, please use one of the methods on the Contact page. I would love to hear from you!</p>

<app-footer></app-footer>