<!-- Placeholder for now. Will eventually replace with specialized Angular components. -->
<div [ngClass]="{'animated-gradient': true, 'dark-gradient': darkMode, 'light-gradient': !darkMode}">
    <app-side-menu></app-side-menu>
    <div *ngIf="!mobileHeader; else mobileHeaderCmp"><app-header [darkMode]="darkMode" (colorChanged)="changeColors($event)"></app-header></div>
    <ng-template #mobileHeaderCmp><app-mobile-header></app-mobile-header></ng-template>

    <app-hero-image [darkMode]="darkMode"></app-hero-image>

    <h1 [ngClass]="{'heading': true, 'dark': darkMode, 'light': !darkMode}">Hello and welcome! (UNDER CONSTRUCTION)</h1>

    <p [ngClass]="{'text': true, 'dark': darkMode, 'light': !darkMode}">If you're looking for my portfolio of all the stuff I've done in the cool world of tech, you're in the right place! Thanks for stopping by.</p>

    <p [ngClass]="{'text': true, 'dark': darkMode, 'light': !darkMode}">To learn more about my experiences, interests, and accomplishments, please click on the links above.</p>

    <p [ngClass]="{'text': true, 'dark': darkMode, 'light': !darkMode}">If you would like to contact me, please use one of the methods on the Contact page. I would love to hear from you!</p>

    <app-footer [darkMode]="darkMode"></app-footer>
</div>