.heading {
    text-align: center;
}

.text {
    text-align: center;
}

.animated-gradient {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    width:100%;
}

.dark-gradient {
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
}

.dark {
    color: white;
}

.light-gradient {
    background-image: linear-gradient( 108.1deg,  rgba(167,220,225,1) 11.2%, rgba(217,239,242,1) 88.9% );
}

.light {
    color: black;
}

.main-container {
    padding-bottom: 5.5rem;
}