<!-- Placeholder for now. Will eventually replace with specialized Angular components. -->
<div [ngClass]="{'animated-gradient': true, 'dark-gradient': darkMode, 'light-gradient': !darkMode}">
    <app-side-menu (navigated)="onNavigated($event)"></app-side-menu>
    <div *ngIf="!mobileHeader; else mobileHeaderCmp"><app-header (colorChanged)="changeColors($event)"></app-header></div>
    <ng-template #mobileHeaderCmp><app-mobile-header (opened)="openSideMenu()"></app-mobile-header></ng-template>

    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    

    <app-footer></app-footer>
</div>
