.Home {
    text-align: center;
}

.gradient {
    background: #1f1f1f;
    font-size: 1.2rem;
    border: none;
    color: white;
    outline: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .gradient:before {
    --size: 1500px;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, #414141, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.5s ease, height 0.5s ease;
  }
  
  .gradient:hover:before {
    --size: 1500px;
  }
  
  a, button {
    position: relative;
    cursor: pointer;
    z-index: 100;
  }
  
  h1, p {
    position: relative;
    z-index: 90;
    color: white;
    padding-left: 2%;
  }
  
  .message {
    text-align: center;
    position: relative;
  }

  #main {
    margin-top: 7%;
  }

  #tldr {
    padding-top: 7%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }

  .headshot {
    border-radius: 50%;
    height: 250px;
    text-align: center;
    position: relative;
  }

  #left {
    display: inline-block;
  }

  #right {
    display: inline-block;
  }

  .fact {
    text-align: left;
  }