.Home {
  text-align: center;
}

.darkgradient {
  background: #1f1f1f;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.lightgradient {
  background: #f4f4f4;
  font-size: 1.2rem;
  border: none;
  color: black;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.darkgradient_mobile {
  background: #1f1f1f;
  font-size: 1.2rem;
  border: none;
  color: white;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
}

.lightgradient_mobile {
  background: #f4f4f4;
  font-size: 1.2rem;
  border: none;
  color: black;
  outline: none;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;
  overflow-y: auto;
}

.darkgradient:before,
.darkgradient_mobile:before {
  --size: 1500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #414141, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.lightgradient:before,
.lightgradient_mobile:before {
  --size: 1500px;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #dbd8d8, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.1s ease, height 0.1s ease;
}

.darkgradient:hover:before, .lightgradient:hover:before {
  --size: 1500px;
}

a,
button {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

h1,
p {
  position: relative;
  z-index: 90;
  padding-left: 2%;
}

.message {
  text-align: center;
  position: relative;
}

#main {
  margin-top: 7%;
}

#main_mobile {
  width: 80%;
  margin: 0 auto;
}

#tldr {
  padding-top: 7%;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#tldr_mobile {
  padding-top: 1%;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#tldrHeading {
  font-weight: 500;
}

.headshot {
  border-radius: 50%;
  height: 250px;
  text-align: center;
  position: relative;
}

.headshot_mobile {
  border-radius: 50%;
  height: 200px;
}

#left_mobile {
  display: inline-block;
}

#right {
  display: inline-block;
}

.fact {
  text-align: left;
}

.fact_mobile {
  padding-left: 0%;
  text-align: center;
}