<div class="sideNav">
    <ul>
        <li><a (click)="closeMenu()">Close Menu</a></li>
        <li><a (click)="navigate('/home')">Home</a></li>
        <li><a (click)="navigate('/about')">About Me</a></li>
        <li><a (click)="navigate('/projects')">Projects</a></li>
        <li><a (click)="navigate('/resume')">Resume</a></li>
        <li><a (click)="navigate('/essays')">Essays</a></li>
        <li><a href="#">Contact Me</a></li>
        <li><a href="#">Light/Dark Mode</a></li>
    </ul>
</div>