.Navbar {
    position: relative;
    overflow: hidden;
}

.links {
    background-color: #393838;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 860px;
    border-radius: 50px;
    border: 3px #2f2f32 solid;
}

.links p {
    float: left;
    margin-left: 25px;
}

.links p:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.toggle {
    float: right;
}

#Nitish {
    font-weight: bold;
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.selected {
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
}

.normal {
    color: white;
    text-decoration: none;
}

.normal:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.dropbtn {
    background-color: #393838;
    color: white;
    padding: 16px;
    font-size: 28px;
    border: 5px #2f2f32 solid;
    cursor: pointer;
}

.dropdowncontent {
    position: fixed;
    background-color: black;
    left: 50%;
    z-index: 110;
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: -38.5%;
    width: 75%;
}

.start {
    text-align: center;
}