.Navbar {
    position: relative;
    overflow: hidden;
}

.linksdark {
    background-color: #393838;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 860px;
    border-radius: 50px;
    border: 3px #2f2f32 solid;
}

.linkslight {
    background-color: #ffffff;
    overflow: hidden;
    float: none;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 860px;
    border-radius: 50px;
    border: 2px #eeeeee solid;
}

.linksdark p, .linkslight p {
    float: left;
    margin-left: 25px;
}

.toggleSelect {
    float: left;
    margin-left: 25px;
}

.linksdark p:hover, .linkslight p:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.toggle {
    float: right;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 50px;
}

#Nitish {
    font-weight: bold;
    font-size: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.selected {
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
}

.normaldark {
    color: white;
    text-decoration: none;
}

.normallight {
    color: black;
    text-decoration: none;
}

.normaldark:hover, .normallight:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.dropbtn {
    background-color: #393838;
    color: white;
    padding: 16px;
    font-size: 28px;
    border: 5px #2f2f32 solid;
    cursor: pointer;
}

.dropdowncontent {
    position: fixed;
    background-color: black;
    left: 50%;
    z-index: 110;
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: -38.5%;
    width: 75%;
}

.start {
    text-align: center;
}