<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Contact Me</h1>

<p [ngClass]="{'text': true}">You can find me somewhere else on the interwebs on:</p>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<div id="buttons">
    <a href="https://www.quora.com/profile/Nitish-Vijai" target="_blank"><button class="contact"
            id="ytube" type="button"><i class="fab fa-quora"></i> Quora</button></a>
    <a href="https://twitter.com/TheNitishVJ" target="_blank"><button class="contact" id="twitter"
            type="button"><i class="fab fa-twitter"></i> Twitter</button></a>
    <a href="https://www.linkedin.com/in/nitish-vj/" target="_blank"><button class="contact" id="lnkin"
            type="button"><i class="fab fa-linkedin"></i> LinkedIn</button></a>
    <a href="https://www.github.com/nitishvijai" target="_blank"><button class="contact" id="gthub"
            type="button"><i class="fab fa-github"></i> GitHub</button></a>
    <a href="mailto:nitishv@umich.edu" target="_blank"><button class="contact" id="email" type="button"><i
            class="fas fa-envelope"></i> Email</button></a>
</div>

<p [ngClass]="{'text': true}" style="margin-top: 5%;">Let's talk! Submit this form below and I will get back to you as soon as possible.</p>
<div id="contactme">
    <form id="contactForm" [formGroup]="submitForm" method="POST" action="https://formspree.io/f/meqpekvo" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="fullName" id="fullName" placeholder="Enter your name here..." required>
        <br />
        <input type="text" formControlName="emailAddress" id="emailAddress" placeholder="Enter your e-mail address here..." required>
        <br />
        <textarea id="subject" formControlName="message" 
            placeholder="Type your message, questions, feedback in here. If necessary, expand this box using the slider grip at the bottom right." 
            style="height: 200px;" required></textarea>
        <br /><br />
        <input id="submitButton" name="submit" type="submit" value="Submit" />
        <input id="resetButton" type="reset" value="Reset" />
        <br /><br />
        <div *ngIf="submitFormControl.fullName.invalid && (submitFormControl.fullName.touched || dirty)">
            <span *ngIf="submitFormControl.fullName.errors?.required" id="errName" class="error">Full name is required</span><br />
        </div>
        <div *ngIf="submitFormControl.emailAddress.invalid && (submitFormControl.emailAddress.touched || dirty)">
            <span *ngIf="submitFormControl.emailAddress.errors?.required" id="errMail" class="error">Email address is required</span><br />
            <span *ngIf="submitFormControl.emailAddress.errors?.email" id="errMailPattern" class="error">Incorrect email pattern entered</span><br/>
        </div>
        <div *ngIf="submitFormControl.message.invalid && (submitFormControl.message.touched || dirty)">
            <span *ngIf="submitFormControl.message.errors?.required" id="errMesg" class="error">Message is required</span>
        </div>
    </form>
    <p style="visibility: hidden; font-size: x-small;">asdf</p>
</div>