.hero {
    text-align: center;
    display: inline-block;
}

#image {
    text-align: right;
    float: left;
}

#stats {
    text-align: left;
    float: right;
    vertical-align: middle;
    margin-left: 20px;
}

#headshot {
    border-radius: 50%;
}