.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
}

#image {
    text-align: right;
    float: left;
}

#stats {
    text-align: left;
    float: right;
    vertical-align: middle;
    margin-left: 20px;
}

#headshot {
    border-radius: 50%;
}

.dark {
    color: white;
}

.light {
    color: black;
}