.App {
  text-align: center;
}

a, button {
  position: relative;
  cursor: pointer;
  z-index: 100;
}

h1, p {
  position: relative;
  z-index: 90;
  padding-left: 2%;
}

h2, h3, h4 {
  z-index: 91;
  position: relative;
}

#message {
  margin-top: 240px;
}