<p style="visibility: hidden; font-size: x-small;">asdf</p>

<h1 [ngClass]="{'heading': true}">Resume</h1>

<p [ngClass]="{'text': true}">Check out my experiences and various other credentials below.</p>

<p style="visibility: hidden; font-size: x-small;">asdf</p>

<div class="main">
    <div id="col1">
        <h2 [ngClass]="{'heading': true}">Work Experience</h2>

        <div *ngFor="let exp of workExperiences">
            <app-experience [exp]="exp"></app-experience>
        </div>

        <h2 [ngClass]="{'heading': true}">Awards and Honors</h2>

        <div *ngFor="let exp of awards">
            <app-experience [exp]="exp"></app-experience>
        </div>
    </div>

    <div id="col2">
        <h2 [ngClass]="{'heading': true}">Education</h2>

        <app-experience [exp]="education"></app-experience>

        <h2 [ngClass]="{'heading': true}">Organizations</h2>

        <div *ngFor="let exp of organizations">
            <app-experience [exp]="exp"></app-experience>
        </div>



        <h2 [ngClass]="{'heading': true}">Technical Skills</h2>

        <div *ngFor="let skill of techSkills">
            <h3>{{ skill.name }}:</h3>
            <h4>{{ skill.content }}</h4>
        </div>
    </div>



</div>